@charset "utf-8";
body{
	background-image: url(../img/0.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#main{	
	margin-left:5%;
}
h1{
	border-radius: 25px;
	background-color: rgba(255,255,255,0.5);
	font-size: 80px;
	max-width: 40%;
	display: inline-block;
}

h2{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	max-width: 40%;
	font-size: 50px;
	display: inline-block;
}

h2.stock{
	margin-left: 10px;
}

h2.food{
	font-size: 70px;
}

#footer{
	background-color: rgba(255,255,255,0.5);
	font-size: 60px;
	text-align: center;
}